<div class="row my-5">
  <div class="col-12">
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1">Фамилия</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Фамилия" required name="surname"
          [(ngModel)]="user.surname">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Имя</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Имя" required name="name"
          [(ngModel)]="user.name">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Отчество</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Отчество" required
          name="secName" [(ngModel)]="user.secName">
      </div>

      <div class="form-group">
        <p>Пол</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sex" id="male" value="male" [(ngModel)]="user.sex">
          <label class="form-check-label" for="male">Мужской</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sex" id="fem" value="female" [(ngModel)]="user.sex">
          <label class="form-check-label" for="fem">Женский</label>
        </div>
      </div>

      <div class="form-group">
        <label for="photo">Фото</label>
        <input type="file" class="form-control" id="photo" required placeholder=""
          name="photo" (input)="onPushPhoto($event)">
      </div>

      <div class="form-group" *ngIf="user.photo">
        <small>Добавленное фото:</small>
        <img [src]="user.photo" alt="">
      </div>

      <div class="form-group">
        <label for="position">Должность</label>
        <select class="form-control my-3" id="position" required name="position" [(ngModel)]="user.position">
          <option>Начальник отдела</option>
          <option>Заместитель начальника отдела</option>
          <option>Секретарь</option>
          <option>Бухгалтер</option>
          <option>Стажер</option>
        </select>
      </div>

      <div class="form-group">
        <label for="division">Отделение</label>
        <select class="form-control my-3" id="division" required name="division" [(ngModel)]="user.division">
          <option>Отделение 1</option>
          <option>Отделение 2</option>
          <option>Отделение 3</option>
        </select>
      </div>

      <div class="form-group">
        <h5>Доступы</h5>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="createDepos" name="createDepos" [checked]="user.accesses.createDepos" (input)="user.accesses.createDepos=!user.accesses.createDepos">
          <label class="form-check-label" for="createDepos">
            Создание депозита
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="closeDepose" name="closeDepose" [checked]="user.accesses.closeDepose" (input)="user.accesses.closeDepose=!user.accesses.closeDepose">
            <label class="form-check-label" for="closeDepose">
              Закрытие депозита
            </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" id="approveCred"  name="approveCred" [checked]="user.accesses.approveCred" (input)="user.accesses.approveCred=!user.accesses.approveCred">
              <label class="form-check-label" for="approveCred">
                Одобрение кредита
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="approveCount"  name="approveCount" [checked]="user.accesses.approveCount" (input)="user.accesses.approveCount=!user.accesses.approveCount"> 
                <label class="form-check-label" for="approveCount">
                  Одобрение открытие счета
                </label>
              </div>
      </div>

      <button type="submit" class="btn btn-primary mb-2 mx-3" (click)="onSubmit()">Сохранить</button>
      <button type="submit" class="btn btn-danger mb-2 mx-3" (click)="onReset()">Отменить</button>
    </form>
  </div>
</div>
